body{
    background-color: rgb(248, 242, 207);
}
label{
    color: rgb(49, 5, 131);
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}
input{
    width:350px;
    height:30px;
    border-color: rgb(248, 242, 207);
    background-color: rgb(248, 242, 207);
    border:0px ;
    border-bottom: 1px solid black ;
    align-items: end;
}
select{
    width:350px;
    height:30px;
    border-color: rgb(248, 242, 207);
    background-color: rgb(248, 242, 207);
    border:0px ;
    border-bottom: 1px solid black ;
    align-items: end;

}